:root {
  --grid-rows: 1;
  --grid-columns: 1;
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
}

#grid-container {
  display: inline-grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  background-color: blue;
  height: 600px;
  width: 600px;
  padding: 10px;
}
.gridItem {
  background-color: red;
  border: 1px solid white;
  padding: 1em;
}
.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: grey;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
