:root {
  --grid-rows: 1;
  --grid-columns: 1;
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-header {
  font-size: 32px;
  font-family: fantasy;
}

button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 9px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12;
  margin-right: 10px;
  border-radius: 4px;
}

button:hover {
  background-color: red;
}

#grid-container {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  background-color: #DC143C;
  height: 600px;
  width: 600px;
  padding: 15px;
}
.gridItem {
  background-color: white;
  border: .01em solid black;
}
.slidecontainer {
  width: 600px;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 5px;
  background: #D3D3D3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: green;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: green;
  cursor: pointer;
  border: 0;
}

.interactive-stuff {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

#gridSize {
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 18px;
}
